/* My Stylesheet */
body {
  padding: 0 10% 0 10%;
  font-size: 20px;
  background-color: #f0fcff;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  color: #46494d;

}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}
